<div class="img-wrapper">
  {{#if title}}
  <img src="https://image.tmdb.org/t/p/w500{{ poster_path }}" alt="{{ title }}" class="responsive-img" {{!-- width="426" --}} />
  {{else}}
  <img src="https://image.tmdb.org/t/p/w500{{ poster_path }}" alt="{{ name }}" class="responsive-img" {{!-- width="426" --}} />
  {{/if}}
</div>
<div class="img-description">
  {{#if title}}
  <h3 class="title-film title-film__js">{{ title }}</h3>
  {{else}}
  <h3 class="title-film title-film__js">{{ name }}</h3>
  {{/if}}
  <table>
    <tbody>
      <tr class="table-dark-rows">
        <td class="detailscaption">Release Date</td>
        {{#if release_date}}
        <td d="detailsvote" class="detailsinfo" class="release-date__js">
          {{ getMovieYear release_date }}
        </td>
        {{else}}
        <td d="detailsvote" class="detailsinfo" class="release-date__js">
          {{ first_air_date }}
        </td>
        {{/if}}
      </tr>
      <tr class="table-light-rows">
        <td class="detailscaption">Vote / Votes</td>
        <td id="detailspopularity" class="detailsinfo" class="vote__js">
          {{vote_average}} / {{vote_count}}
        </td>
      </tr>
      <tr class="table-light-rows">
        <td class="detailscaption">Popularity</td>
        <td id="detailspopularity" class="detailsinfo" class="popularity__js">
          {{ popularity }}
        </td>
      </tr>
      <tr class="table-dark-rows">
        <td class="detailscaption">Original title</td>
        {{#if original_name}}
        <td id="detailspopularity" class="detailsinfo" class="original-title__js">
          {{ original_name }}
        </td>
        {{else}}
        <td id="detailspopularity" class="detailsinfo" class="original-title__js">
          {{ original_title }}
        </td>
        {{/if}}
      </tr>
      <tr class="table-light-rows">
        <td class="detailscaption">Genre</td>
        <td id="detailsgenre" class="detailsinfo">genres</td>
      </tr>
    </tbody>
  </table>
  <h3 class="title-about">ABOUT</h3>
  <p class="overview__js">{{ overview }}</p>

</div>