{{#each this}}
<li class="gallery-element">
    <a class="modal-trigger" href="#details-modal" data-id="{{id}}">
        {{#if title}}
        <img data-id="{{id}}" class="movie-image responsive-img" src="{{ getPoster poster_path }}" alt="{{ title }}">
        <h3 class="movie-name">{{ title }}</h3>
        {{else}}
        <img data-id="{{id}}" class="movie-image responsive-img" src="{{ getPoster poster_path }}" alt="{{ name }}">
        <h3 class="movie-name">{{ name }}</h3>
        {{/if}}
        <p class="movie-genre">{{ genres_name }}</p>
        {{#if release_date}}
        <p class="movie-year">{{ getMovieYear release_date }}</p>
        {{else}}
        <p class="movie-year">{{ getMovieYear first_air_date }}</p>
        {{/if}}
        <p class="movie-rating">{{ vote_average }}</p>
    </a>
</li>
{{/each}}