{{!-- {{#each this}} --}}
<li class="gallery-element">
    <a class="modal-trigger" href="#details-modal">
    <img class="movie-image"
        src="{{ image }}" alt="{{ name }}">
    <h3 class="movie-name" >{{ name }}</h3>
    <p class="movie-genre">{{ genre }}</p>
    <p class="movie-year">{{ year }}</p>
    <p class="movie-rating">{{ rating }}</p>
    </a>
</li>
{{!-- {{/each}} --}}