<ul class="pagination pagination_list">
    <li class="waves-effect pagination-beginning {{ left }}">
        <a href="#!"><i class="material-icons" {{ left }}>first_page</i></a>
    </li>
    <li class="waves-effect pagination-previous-page {{ left }}">
        <a href="#!"><i class="material-icons" {{ left }}>chevron_left</i></a>
    </li>
    <li>
        <ul class="pagination-page-items-container">
            {{#each pages}}
            <li class="waves-effect {{ active }}" data-page="{{ idx }}">
                <a href="#!" class="paginator-page-item" data-page="{{ idx }}">{{ idx }}</a>
            </li>
            {{/each}}
        </ul>
    </li>
    <li class="waves-effect pagination-next-page {{ right }}">
        <a href="#!"><i class="material-icons" {{ right }}>chevron_right</i></a>
    </li>
    <li class="waves-effect pagination-end {{ right }}">
        <a href="#!"><i class="material-icons" {{ right }}>last_page</i></a>
    </li>
</ul>